@model List<MeetUserJoin>
@{
    ViewBag.Title = "签到情况";
    var hadSignList = new List<MeetUserJoin>();
    var noSignList = new List<MeetUserJoin>();
    if (Model != null)
    {
        hadSignList = Model.Where(x => x.HadSign == EnumPro.YesOrNoCode.Yes).ToList();
        noSignList = Model.Where(x => x.HadSign == EnumPro.YesOrNoCode.No).ToList();
    }
}
<style type="text/css">
    /*2017.5.10*/
    html, body {
        background-color: #efefef;
    }

    footer a {
        width: 20%;
    }

    .m-sign h3, .m-nSign h3 {
        font-size: 1.4rem;
        margin-top: 1rem;
        text-indent: 0.7rem;
        font-weight: bold;
    }

    .m-signIn-num:before {
        content: '已签到';
    }

    .m-signIn-num:after {
        content: '人';
    }

    .m-sign h3:nth-child(1) {
        float: left;
    }

    .m-sign h3:nth-child(2) {
        float: right;
        font-size: 1.1rem;
        margin-top: 1.2rem;
        color: #dd0000;
    }

    .m-notSign-num:before {
        content: '未签到';
    }

    .m-notSign-num:after {
        content: '人';
    }


    .m-nSign h3:nth-child(1) {
        float: left;
    }

    .m-nSign h3:nth-child(2) {
        float: right;
        font-size: 1.1rem;
        margin-top: 1.2rem;
        color: #61635D;
    }

    .m-signIn-box, .m-notSign-box {
        overflow: hidden;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    .m-ul {
        /*overflow: hidden;*/
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
    }

    /*打钩还是打叉图片就在.m-ul li:before里*/
    .m-signIn-box li:before {
        content: '';
        background: url(./images/trueIcon.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 100;
    }

    /*.m-notSign-box li:before {
        content: '';
        background: url(./images/errorIcon.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 100;
    }*/

    .m-ul li {
        float: left;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 20%;
        height: auto;
        padding: 0.2rem;
    }

        .m-ul li img {
            display: block;
            width: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .m-ul li span {
            display: block;
            text-align: center;
            margin: 0.3rem 0;
        }
          .m-notSign-box li img {
            opacity: 0.6;
        }
</style>


<div class="wrap">
    <div class="article">
        <a href="javascript:history.go(-1);" class="back fl"><</a>
        <span class="fr" style="padding:0 1.5rem;">&nbsp;</span>
        <h2>签到情况</h2>
    </div>
</div>

<div class="l">
    <div class="w95 m0">
        <div class="m-sign">
            <h3 class="m-signIn">已签到名单</h3>
            <h3 class="m-signIn-num">@(hadSignList!=null? hadSignList.Count:0)</h3>
        </div>

        <div class="m-signIn-box">
            <ul class="m-ul">
                @if (hadSignList != null && hadSignList.Count > 0)
                {
                    foreach (var item in hadSignList)
                    {
                        <li>
                            <img src="@(item.User?.HeadImgUrl)" />
                            <span>@(item.User?.RealName)</span>
                        </li>
                    }
                }             
            </ul>
        </div>

    </div>
    <div class="w95 m0">
        <div class="m-nSign">
            <h3 class="m-notSign">未签到名单</h3>
            <h3 class="m-notSign-num">@(noSignList != null ? noSignList.Count : 0)</h3>
        </div>

        <div class="m-notSign-box">
            <ul class="m-ul">
                @if (noSignList != null && noSignList.Count > 0)
                {
                    foreach (var item in noSignList)
                    {
                        <li>
                            <img src="@(item.User?.HeadImgUrl)" />
                            <span>@(item.User?.RealName)</span>
                        </li>
                    }
                }   
               
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).resize(initFont);
    initFont();
    function initFont() {
        var htmlWidth = $('html').width();
        if (htmlWidth >= 650) {
            $("html").css({"font-size": "24px"});
        } else {
            $("html").css({"font-size": 12 / 320 * htmlWidth + "px"});
        }
    };

    setTimeout(function () {
        window.location.reload();
    },2000)
</script>